@value primaryColor, blackColor,whiteColor from '../../data/maincolors.css';
@value primaryFont from '../../data/mainfonts.css';

.Button
{
    margin: 1vw;
    background-color: primaryColor;
    color: whiteColor;
    font-family: primaryFont;
    font-size: 2.5vh;
    border-radius: 0.4vw;
    padding: 0.5vw 2vw;
}
.Button:hover
{
    opacity: 0.8;
    cursor: pointer;
}